body , *{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
}
ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
img{
	width: auto;
}
.dashboard-container{

  	margin:0px auto;
}
.page-fixedwidth{
 	max-width: 1080px;
	width: 100%;
	margin:0px auto;

}
@media all and (max-width: 1080px){
	.page-fixedwidth{
		padding: 0px 15px;
		text-align: center;
	}
}
.page-content{
	margin-top: 5em;
}

[class*='icon-']::before{
	 
		content: " ";
		display: inline-block;
		height: 16px;
		width: 16px;
		background-color: #777;
 		vertical-align: sub;
 		margin-right: 5px;
}
[class*='icon-20']::before{
	height: 22px;
	width: 22px;
}